* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Times New Roman", Times, serif;
  text-transform: capitalize;
}

.slider-container {
  margin: 10px auto;
  width: 800px;
  height: 450px;
  position: relative;
}

.slider-container img {
  position: absolute;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
}

.slider-container img.active {
  opacity: 1;
}

.slider-number {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 5px 10px;
  font-size: 20px;
  z-index: 2;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.slider-controls {
  width: 800px;
  margin: auto;
  overflow: hidden;
}

.slider-controls .prev,
.slider-controls .next {
  background-color: #333;
  color: #fff;
  padding: 5px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  width: 20%;
  user-select: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.slider-controls .prev {
  float: left;
}

.slider-controls .next {
  float: right;
}

.slider-controls .prev.disabled,
.slider-controls .next.disabled {
  background-color: rgba(0, 150, 136, 0.5);
  cursor: no-drop;
}

.slider-controls .indicators {
  width: 60%;
  float: left;
}

.slider-controls .indicators ul {
  list-style: none;
  margin: 0;
  text-align: center;
}

.slider-controls .indicators ul li {
  display: inline-block;
  background-color: #f6f6f6;
  color: #333;
  font-weight: bold;
  height: 28px;
  width: 28px;
  margin: 0 20px;
  line-height: 28px;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.slider-controls .indicators ul li.active {
  background-color: #333;
  color: #fff;
}
